---
layout: default
permalink: /sections/
---

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
  rel="stylesheet"
/>

<h2 id="categories">Categories</h2>
<div>
  <a href="/">Escape Horizon ({{ site.posts | size }})</a>
  <a href="/programming">👨🏾‍💻 ({{ site.categories.programming | size }})</a>
  <a href="/photo-gallery">📷 ({{ site.categories.photography | size }})</a>
</div>

<br />

<h2 id="tags">Tags</h2>

{% assign sortedTags = site.tags | sort %}

<div class="tag-list">
  {% for tag in sortedTags %}
  <a href="/tag/{{tag[0]}}" class="post-tag"
    >{{ tag[0] }}&nbsp;({{ tag[1] | size }})</a
  >
  {% endfor %}
</div>
